{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <title>Document</title>
</head>
<body>
    <h1>Login</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form }}
        <input class="btn btn-primary btn-sm" type="submit" />
        <div class="form-group">
            <fieldset class="form-group">
                <legend>Login desirability</legend>
                <label for="customRange1">How badly do you want to login</label>
                <input type="range" class="custom-range" id="customRange1">
            </fieldset>
        </div>

    </form>

    
    
</body>
</html>